@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

main {
    font-size: .8125rem;
    // box-sizing: border-box;
}

.home {
    &__welcome {
        
        &-container {
            background-color: $pale-green;
            color: $white;
            padding: 1rem;
        }

        &-header {
            font-family: "Brittany Signature", sans-serif;
            font-size: 48px;
            margin: 0;
        }

        &-message {
            width: 100%;
            margin-bottom: 0;
        }

        &-img {
            width: auto;
            height: 200px;
        }
    }

    &__about {
        &-container {
            background-image: url("src/assets/images/home-about-bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 30vh;
            @include flex-box(flex, row);
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 1rem;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: 1;
                // box-sizing: border-box;
            }
        }

        &-box {
            background-color: $white;
            @include flex-box(flex, column);
            justify-content: space-between;
            gap: 0.5rem;
            border-radius: 1.25rem;
            width: 100%;
            height: 100%;
            z-index: 2;
            padding: 1rem;
        }

        &-header {
            font-family: "Brittany Signature", sans-serif;
            font-size: 24px;
            text-align: right;
            margin: 0;
        }

        &-message { 
            margin-top: 1.5rem;
        }

        &-btn {
            @include btn($pale-green, .8125rem, $white);
            width: 100%;
            border: none;
            border-radius: 1.25rem;
            padding: 0.5rem 0;

            &:hover {
                background-color: $sage-green;
                transition: 0.3s ease-in-out;
            }
        }
    }

    &__education {
        
        &-container {
            background-color: $beige;
            padding: 1rem;
        }

        &-header {
            font-family: "Garet Book", sans-serif;
            font-size: 24px;

            &--script {
                font-family: "Brittany Signature", sans-serif;
                font-size: 24px;
            }
        }
    }

    &__quote {

        &-container {
            background-color: $pale-green;
            background-image: url("src/assets/images/home-quote-img.jpg");
            background-size:contain;
            background-repeat: no-repeat;
            background-position: right;
            height: 20vh;
            padding: 1rem;
        }

        &-text {
            font-family: "Garet Book", sans-serif;
            color: $white;
            font-size: 14px;
            width: 50%;
            text-align: center;
            margin-top: 2rem;
        }

        &-author {
            width: 50%;
            font-family: "Garet Book", sans-serif;
            font-size: 11px;
            font-style: italic;
            text-align: center;
        }
    }
}

.card {
    background-color: $white;
    opacity: 70%;
    border-radius: 1.25rem;
    padding: 1rem;

    &__list {
        @include flex-box(flex, column);
        gap: 1rem;
    }

    &__header {
        font-size: 14px;
    }

    &__container {
        @include flex-box(flex, column);
        align-items: center;
    }

    &__list {
        // align-items: center;
        list-style-type: none;
        padding: 0;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}