// import styling
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.favorites {
    &__container {
        background-color: $pale-green;
        position: relative;
        padding: 1rem;

        @include tablet {
            padding: 2rem;
        }

        @include desktop {
            padding: 2.5rem;
        }
    }

    &__header {
        @include m-page-header;
        text-align: center;
        margin: 2rem 0 1rem 0;

        @include tablet {
            @include td-page-header;
            margin: 0;
        }

        @include desktop {
            @include td-page-header;
            margin: 0;
        }
    }

    &__divider {
        &-multi-waves {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;

            svg {
                position: relative;
                display: block;
                width: calc(100% + .0813rem);
                height: 9.375rem;
            }

            .shape-fill {
                fill: $pale-green;
            }
        }
    }

    &__section {
        &-subheader {
            @include m-sub-header($global-text);
            margin: 0;

            @include tablet {
                @include td-sub-header($global-text);
            }

            @include desktop {
                @include td-sub-header($global-text);
            }

            &-container {
                @include box($white, 100%, 100%, 1.25rem, 80%);
                text-align: center;
                padding: 0.5rem;
                margin-top: 1rem;
                margin-bottom: 1rem;

                @include tablet {
                    margin-bottom: 1.5rem;
                }

                @include desktop {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    &__list {
        @include flex-box(flex, column);
        list-style-type: none;
        padding: 0;

        @include tablet {
            width: 100%;
            padding: 2rem;
            margin: 0;
        }

        @include desktop {
            width: 100%;
            padding-inline: 10rem;
            padding-block: 2rem;
            margin: 0;        
        }

        &-item {
            margin-bottom: 1rem;

            @include tablet {
                margin-bottom: 2rem;
            }
            
            @include desktop {
                margin-bottom: 2.5rem;
            }
        }

        &-container {
            background-image: url("../../assets/images/favorites-page-bg.jpg");
            background-size: cover;
            position: relative;
            width: 100%;
            height: 100%;
            padding: 10rem 1rem 1rem 1rem;

            @include tablet { 
                padding: 10rem 2rem 2rem 2rem;
            }

            @include desktop {
                padding: 10rem 2.5rem 2.5rem 2.5rem;
            }
        }
    }

    &__empty-message {
        @include box($white, 100%, 100%, 1.25rem, 80%);
        text-align: center;
        padding: 1rem;

    }
}