@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.favorites {
    &__container {
        background-color: $pale-green;
        position: relative;
        padding: 1rem;
    }

    &__header {
        color: $white;
        font-family: "Brittany Signature", sans-serif;
        font-size: 40px;
        margin: 0;
    }

    &__list {
        list-style-type: none;
        padding: 0;

        &-container {
            background-image: url("../../assets/images/favorites-page-bg.jpg");
            background-size: cover;
            position: relative;
            width: 100%;
            height: 100%;
            padding: 1rem;
        }

        &-box {
            background-color: $white;
            border-radius: 1.25rem;
            width: 100%;
            height: 100%;
            opacity: 80%;
            padding: 0 1rem;
        }
    }

    &__card {
        @include flex-box(flex, row);
        align-items: flex-start;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: .0625rem solid $forest-green;

        &-title {
            font-family: "Garet Book", sans-serif;
            font-size: 24px;
            margin: 0;

        }
        
        &-description {
            color: $global-text;
            font-size: 11px;
            margin: 0;
        }
    }
}

.remove-border {
    border: none;
}