// import styling
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.register {
    @include flex-box(flex, column);

    &__header {
        @include m-page-header;
        text-align: center;
        margin: 0;

        @include tablet {
            @include td-page-header;
        }

        @include desktop {
            @include td-page-header;
        }
    }

    &__wrapper {
        @include tablet {
            @include flex-box(flex, row);
        }

        @include desktop {
            @include flex-box(flex, row);
        }
    }

    &__form {
        background-color: $white;
        opacity: 80%;
        border-radius: 1.25rem;
        padding: 1rem;
        position: relative;
        text-align: center;
        margin-top: 1.5rem;
        z-index: 2;

        @include tablet {
            padding: 2rem;
            margin-top: 2.5rem;
        }

        @include desktop {
            padding: 2.5rem;
            margin-top: 2.5rem;
        }

        &-container {
            background-image: url("../../assets/images/register-page-img-1.jpg");
            background-size: cover;
            position: relative;
            padding: 1rem;
            order: 2;

            @include tablet {
                width: 50%;
                padding: 2rem;
            }

            @include desktop {
                width: 50%;
                padding: 2rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                z-index: 1;
            }
        }
    }

    &__label {
        color: $global-text;
        font-family: "Garet Book", sans-serif;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: .25rem;
    }

    &__input {

        &-name,
        &-email,
        &-password {
            width: 100%;
            background-color: $forest-green;
            font-family: "Garet Book", sans-serif;
            font-size: .8125rem;
            color: $white;
            padding: 0.5rem 3rem 0.5rem 1rem;
            border-radius: 1.25rem;
            border: .125rem solid transparent;
            margin-bottom: 1rem;

            @include tablet {
                font-size: .875rem;
            }

            @include desktop {
                font-size: .875rem
            }

            &::placeholder {
                font-family: "Garet Book", sans-serif;
                color: $white;
                font-size: .8125rem;

                @include tablet {
                    font-size: .875rem;
                }

                @include desktop {
                    font-size: .875rem
                }
            }

            &:focus {
                background-color: $sage-green;
                border: .125rem solid $grey;
                outline: none;
            }
        }

        &-name {
            background-image: url("../../assets/icons/register-name-icon.svg");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1.2rem;

            @include tablet {
                background-size: 1.5rem;
            }

            @include desktop {
                background-size: 1.5rem;
            }
        }

        &-email {
            background-image: url("../../assets/icons/register-email-icon.svg");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1.2rem;

            @include tablet {
                background-size: 1.5rem;
            }

            @include desktop {
                background-size: 1.5rem;
            }
        }

        &-password {
            background-image: url("../../assets/icons/register-password-icon.svg");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1.2rem;

            @include tablet {
                background-size: 1.5rem;
            }

            @include desktop {
                background-size: 1.5rem;
            }
        }
    }

    &__btn {
        width: 100%;
        background-color: $grey;
        font-family: "Garet Book", sans-serif;
        font-size: .8125rem;
        color: $white;
        border-radius: 1.25rem;
        border: 0;
        padding: 0.5rem 0;

        @include tablet {
            font-size: .875rem;
        }

        @include desktop {
            font-size: .875rem;
        }

        &:hover {
            background-color: $sage-green;
            color: $white;
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }
    }

    &__message {
        background-color: $sage-green;
        width: 100%;
        height: 100%;
        padding: 1rem;
        order: 1;

        @include tablet {
            width: 50%;
            padding: 2rem;
        }

        @include desktop {
            width: 50%;
            padding: 2.5rem;
        }

        &-header {
            @include m-sub-header($white);
            margin: 0;

            @include tablet {
                @include td-sub-header($white);
                margin: 0;
            }

            @include desktop {
                @include td-sub-header($white);
                margin: 0;
            }
        }

        &-box {
            background-color: $white;
            width: 100%;
            margin-top: 1rem;
            padding: 1rem;
            border-radius: 1.25rem;
            position: relative;

            @include tablet {
                padding: 2rem;
            }

            @include desktop {
                padding: 2.5rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 1.25rem;
                z-index: 1;
            }
        }

        &-text {
            @include m-body($global-text);
            margin: 0;

            @include tablet {
                @include td-body($global-text);
            }

            @include desktop {
                @include td-body($global-text);
            }
        }
    }

    &__error {
        &-text {
            background-color: $white;
            @include m-body($pale-red);
            text-align:center;
            margin-top: 2rem;
            padding: 0.5rem 1rem;
            border-radius: 1.25rem;
            opacity: 80%;

            @include tablet {
                @include td-body($pale-red);
                padding: 0.5rem 2rem;
            }

            @include desktop {
                @include td-body($pale-red);
                padding: 0.5rem 2.5rem;
            }
        }
    }
}