@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"),
        url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
    font-display: swap;
}


@font-face {
    font-family: "Garet Book";
    src: url("../../assets/fonts/Garet-Book.woff2") format("woff2"),
        url("../../assets/fonts/Garet-Book.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Brittany Signature";
    src: url("../../assets/fonts/BrittanySignatureRegular.woff2") format("woff2"),
        url("../../assets/fonts/BrittanySignatureRegular.woff") format("woff");
    font-display: swap;
}