@use "./fonts" as *;
@use "./variables" as *;
@use "./mixins" as *;

body {
    background-color: $light-grey;
    font-family: "Montserrat", sans-serif;
    color: $global-text;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}