@use "./variables" as *;

/* flex-box mixin*/
@mixin flex-box($flex, $direction) {
    display: $flex;
    flex-direction: $direction;
}

@mixin btn($bg-color, $font-size, $font-color) {
    background-color: $bg-color;
    font-family: "Montserrat", sans-serif;
    font-size: $font-size;
    color: $font-color;
}