// import styling
@use "./fonts.scss" as *;
@use "./variables.scss" as *;

/* media query mixins */
@mixin mobile {
    @media (min-width: 320px) and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

/* mobile text style mixins */
@mixin m-page-header {
    font-family: "Brittany Signature", sans-serif;
    font-size: 2.5rem;
    color: $white;
}

@mixin m-sub-header($font-color) {
    font-family: "Garet Book", sans-serif;
    font-size: 1.5rem;
    color: $font-color;
}

@mixin m-sub-header-medium($font-color) {
    font-family: "Garet Book", sans-serif;
    font-size: 1.2rem;
    color: $font-color;
}

@mixin m-card-header($font-color) {
    font-size: 1rem;
    color: $font-color;
    text-align: center;
}

@mixin m-body($font-color) {
    font-size: .8125rem;
    color: $font-color;
}

@mixin m-body-small($font-color) {
    font-size: .75rem;
    color: $font-color;
}

@mixin m-quote-body($font-color) {
    font-family: "Garet Book", sans-serif;
    font-size: .875rem;
    color: $font-color;
}

@mixin m-quote-author($font-color) {
    font-family: "Garet Book", sans-serif;
    font-size: .6875rem;
    color: $font-color;
}

/* tablet and desktop text style mixins */
@mixin td-page-header {
    font-family: "Brittany Signature", sans-serif;
    font-size: 3rem;
    color: $white;
}

@mixin td-sub-header($font-color) {
    font-family: "Garet Book", sans-serif;
    font-size: 1.5rem;
    color: $font-color;
}

@mixin td-card-header($font-color) {
    font-size: 1.2rem;
    color: $font-color;
    text-align: center;
}

@mixin td-body($font-color) {
    font-size: .875rem;
    color: $font-color;
}

@mixin td-quote-body($font-color) {
    font-family: "Garet Book", sans-serif;
    font-size: .9375rem;
    color: $font-color;
}

@mixin td-quote-author($font-color) {
    font-family: "Garet Book", sans-serif;
    font-size: .8125rem;
    color: $font-color;
}

/* flex-box mixin */
@mixin flex-box($flex, $direction) {
    display: $flex;
    flex-direction: $direction;
}

@mixin btn($bg-color, $font-size, $font-color) {
    background-color: $bg-color;
    font-family: "Montserrat", sans-serif;
    font-size: $font-size;
    color: $font-color;
    border-radius: 1.25rem;
    border: none;
}

/* box container mixin */
@mixin box($bg-color, $width, $height, $border-radius, $opacity) {
    background-color: $bg-color;
    border-radius: $border-radius;
    width: $width;
    height: $height;
    opacity: $opacity;
}