// colour variables
$white: #FFFFFF;
$light-grey: #EEEEEE;
$grey: #666666;
$silver: #CCCCCC;
$beige: #F8EDE3;
$pale-green: #A9AF7E;
$sage-green: #7D8F69;
$forest-green: #557153;

// descriptive variables
$global-text: $grey;

/* floating action button color variables */
$primary-color: $sage-green;
$primary-hover: darken($primary-color, 10%);
$action-color: $pale-green;
$action-hover: darken($action-color, 10%);