// import styling
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
    @include tablet {
        width: 65%;
    }

    @include desktop {
        width: 50%;
    }

    &__container {
        background-color: $sage-green;
        color: $white;
        padding: 1rem;

        @include tablet {
            padding: 2rem;
        }

        @include desktop {
            width: 100%;
            padding: 2.5rem;
        }
    }

    &__content-container {
        &--box {
            @include box($white, 100%, 100%, 1.25rem, 80%);
            color: $global-text;
            padding: 0.5rem 1rem;

            @include tablet {
                padding: 2rem;
            }

            @include desktop {
                padding: 2.5rem;
            }
        }
    }

    &__wrapper {
        @include tablet {
            width: 100%;
            @include flex-box(flex, row);
            
        }

        @include desktop {
            width: 100%;
            @include flex-box(flex, row);
            justify-content: space-between;
        }
    }

    &__header {
        @include m-page-header;
        margin: 0;

        @include tablet {
            @include td-page-header;
        }

        @include desktop {
            @include td-page-header;
        }
    }

    &__subheader {
        font-family: "Garet Book", sans-serif;
        font-size: 1rem;
        font-style: italic;
        margin: 1.5rem 0 0.5rem 0;

        @include tablet {
            font-size: 1.125rem;
        }

        @include desktop {
            font-size: 1.125rem;
        }

        &--box {
            font-family: "Garet Book", sans-serif;
            font-size: 1rem;
            font-style: italic;
            margin: 1rem 0 0.5rem 0;

            @include tablet {
                font-size: 1.125rem;
            }

            @include desktop {
                font-size: 1.125rem;
            }
        }
    }

    &__text {
        &--white {
            @include m-body($white);
            margin: 0;
            padding-bottom: 1rem;

            @include tablet {
                @include td-body($white);
            }

            @include desktop {
                @include td-body($white);
            }
        }

        &--grey {
            @include m-body($global-text);
            margin: 0;
            padding-bottom: 1rem;

            @include tablet {
                @include td-body($global-text);
            }

            @include desktop {
                @include td-body($global-text);
            }
        }
    }

    &__values {
        &-container {
            background-color: $forest-green;
            background-image: url("src/assets/images/about-values-img.jpg");
            background-size: cover;
            height: 100%;
            padding: 1rem;

            @include tablet {
                width: 100%;
                padding: 2rem;
            }

            @include desktop {
                @include flex-box(flex, row);
                width: 100%;
                align-items: center;
                padding: 2.5rem;
            }
        }

        &-img {
            width: 100%;
            border-radius: 1.25rem;
        }
    }
}