@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
    &__container {
        background-color: $sage-green;
        color: $white;
        padding: 1rem;
    }

    &__header {
        font-family: "Brittany Signature", sans-serif;
        font-size: 48px;
        margin: 0;
    }

    &__subheader {
        font-family: "Garet Book", sans-serif;
        font-size: 16px;
        font-style: italic;
        margin: 1.5rem 0 0.5rem 0;
    }

    &-text {
        margin: 0;
    }

    &__values {
        &-container {
            background-color: $forest-green;
            background-image: url("src/assets/images/about-values-img.jpg");
            background-size: cover;
            height: 30vh;
            padding: 1rem;
        }

        &-box {
            width: 90%;
            height: 96%;
            background-color: $white;
            padding: 1rem;
        }

        &-header {
            font-family: "Brittany Signature", sans-serif;
            font-size: 24px;
            margin: 0;
        }
    }
}