// import styling
@use "../../styles/partials/variables.scss" as *;

// styles the speed dial floating action button
.MuiSpeedDial-fab {
    background-color: $primary-color !important;
    &:hover {
        background-color: $primary-hover !important;
    }
}

// styles the action buttons within
.MuiSpeedDialAction-fab {
    background-color: $action-color !important;
    &:hover {
        background-color: $action-hover !important;
    }
    
    .MuiSvgIcon-root {
        color: $white;
    }
}
