// import styling
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.react-calendar {
    background: $pale-green;
    font-family: "Garet Book", sans-serif;
    border: none;
    width: 100%;
    border-radius: 1.25rem;

    @include tablet {
        font-size: .875rem;
        margin-bottom: 1rem;
    }

    @include desktop {
        font-size: .875rem;
    }

    &__navigation {
        font-family: "Garet Book", sans-serif;
        text-align: center;
        padding: 0.5rem;

        button {
            font-family: "Garet Book", sans-serif;
        }
    }

    &__month-view__weekdays {
        font-size: .8125rem;
        text-align: center;

        @include tablet {
            font-size: .875rem;
            text-align: center;
        }

        @include desktop {
            font-size: .875rem;
            text-align: center;
        }
    }

    &__month-view__days__day {
        font-family: "Garet Book", sans-serif;
        font-size: .8125rem;
        color: $global-text;
        background-color: #f0f0f0;
        border: none;
        box-shadow: none;

        @include tablet {
            font-size: .875rem;
        }

        @include desktop {
            font-size: .875rem;
        }

        &:hover {
            background-color: #e0e0e0;
        }
    }

    &__tile--active {
        font-family: "Garet Book", sans-serif;
        font-size: .8125rem;
        background-color: $forest-green;
        color: white;

        @include tablet {
            font-size: .875rem;
        }

        @include desktop {
            font-size: .875rem;
        }
    }

    &__month-view__days__day--neighboringMonth {
        font-family: "Garet Book", sans-serif;
        font-size: .8125rem;
        color: $grey;

        @include tablet {
            font-size: .875rem;
        }

        @include desktop {
            font-size: .875rem;
        }
    }
}