// import styling
@use "../../../styles/partials/variables.scss" as *;
@use "../../../styles/partials/mixins.scss" as *;

.resource { 
    &__header-icon-container {
        @include flex-box(flex, row);
        justify-content: space-between;
        align-items: center;
    }

    &__header {
        @include m-page-header;
        margin: 0.5rem 0 2rem 0;

        @include tablet {
            @include td-page-header;
        }

        @include desktop {
            @include td-page-header;
        }
    }

    &__subheader {
        @include m-sub-header($global-text);
        margin: 0;

        @include tablet {
            @include td-sub-header($global-text);
        }

        @include desktop {
            @include td-sub-header($global-text);
        }
    }

    &__box {
        background-color: $white;
        position: relative;
        border-radius: 1.25rem;
        z-index: 2;
        padding: 1rem;

        @include tablet {
            padding: 2rem;
        }

        @include desktop {
            padding: 2.5rem;
        }

        &--learn {
            background-color: $white;
            padding: 1rem;
            border-radius: 1.25rem;
            opacity: 80%;
            margin: 1rem 0;
    
            @include tablet {
                width: 50%;
                padding: 2rem;
            }
    
            @include desktop {
                width: 50%;
                padding: 2rem;
            }
        }
    }

    &__wrapper {
        @include tablet {
            @include flex-box(flex, row);
            justify-content: space-between;
        }

        @include desktop {
            @include flex-box(flex, row);
            justify-content: space-between;
        }
    }

    &__list {
        padding: 0 1rem;
    }

    &__item {
        &--white {
            color: $white;
        }
    }

    &__divider {
        &-multi-waves {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;

            svg {
                position: relative;
                display: block;
                width: calc(100% + .0813rem);
                height: 9.375rem;

                @include tablet {
                    height: 12.5rem;
                }

                @include desktop {
                    height: 15.625rem;
                }
            }

            .shape-fill {
                fill: $beige;
            }
        }
    }

    &__description {
        &-container {
            background-color: $pale-green;
            position: relative;
            padding: 1rem;

            @include tablet {
                padding: 2rem;
            }

            @include desktop {
                padding: 2.5rem;
            }
        }

        &-text {
            @include m-body($white);
            margin-bottom: 0;

            @include tablet {
                @include td-body($white);
            }

            @include desktop {
                @include td-body($white);
            }
        }
    }

    &__strategies{
        @include tablet {
            width: 50%;
        }
        
        @include desktop {
            width: 50%;
        }

        &-container {
            background-size: cover;
            position: relative;
            padding: 1rem;

            @include tablet {
                padding: 2rem;
            }

            @include desktop {
                padding: 2.5rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: 1;
            }
        }

        &-text {
            @include m-body($global-text);

            @include tablet {
                @include td-body($global-text);
            }

            @include desktop {
                @include td-body($global-text);
            }
        }
    }

    &__extra-resources {
        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 50%;
        }

        &-container {
            background-color: $beige;
            padding: 1rem;

            @include tablet {
                height: 100%;
                padding: 2rem;
            }

            @include desktop {
                height: 100%;
                padding: 2.5rem;
            }
        }

        &-text {
            @include m-body($global-text);

            @include tablet {
                @include td-body($global-text);
            }

            @include desktop {
                @include td-body($global-text);
            }
        }
    }

    &__learn-more {
        &-container {
            background-color: $sage-green;
            position: relative;
            padding: 10rem 1rem 1rem 1rem;
    
            @include tablet {
                @include flex-box(flex, column);
                align-items: center;
                padding: 13rem 2rem 2rem 2rem;
            }
    
            @include desktop {
                @include flex-box(flex, column);
                align-items: center;
                padding: 15rem 2rem 2rem 2rem;
            }
        }

        &-subheader {
            @include m-sub-header($white);
            text-align: center;
            margin: 0;
    
            @include tablet {
                @include td-sub-header($white);
            }
    
            @include desktop {
                @include td-sub-header($white);
            }
        }

        &-text {
            @include m-body($global-text);
            width: 100%;
            margin: 0;
    
            @include tablet {
                @include td-body($global-text);
                width: 100%;
                margin: 0;
            }
    
            @include desktop {
                @include td-body($global-text);
                width: 100%;
                margin: 0;
            }
        }
    
        &-btn {
            @include btn($light-grey, .8125rem, $global-text);
            width: 100%;
            border: none;
            border-radius: 1.25rem;
            padding: 0.5rem 0;
    
            @include tablet {
                font-size: .875rem;
                width: 50%;
            }
    
            @include desktop {
                font-size: .875rem;
                width: 50%;
            }
    
            &:hover {
                background-color: $pale-green;
                color: $white;
                transition: 0.3s ease-in-out;
                cursor: pointer;
            }
        }
    }
}