@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    background-color: $white;
    @include flex-box(flex, column);
    align-items: center;

    &__logo {
        
        &-img {
            width: auto;
            height: 10rem;
        }
    }
}