@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    background-color: $white;
    @include flex-box(flex, column);
    justify-content: center;
    align-items: center;
    padding: 1rem;

    @include tablet {
        @include flex-box(flex, row);
        justify-content: space-between;
        padding: 1.5rem;
    }

    &__logo {
        order: 1;

        @include tablet {
            order: 1;
        }
        
        &-img {
            width: auto;
            height: 10rem;

            @include tablet {
                width: auto;
                height: 6.5rem;
            }
        }
    }

    &__navigation {
        order: 3;
        height: 2rem;

        @include tablet {
            width: 20.5rem;
            order: 2;
        }
    }

    &__login {
        width: 100%;
        text-align: center;
        order: 2;

        @include tablet { 
            width: 9rem;
            order: 3;
            padding-top: 1rem;
        }

        &-btn {
            width: 95%;
            @include btn($pale-green, .8125rem, $white);
            border: 0;
            border-radius: 1.25rem;
            padding: 0.5rem 0;

            @include tablet {
                width: 100%;
                font-size: .9375rem;
            }

            &:hover {
                background-color: $sage-green;
                transition: 0.3s ease-in-out;
            }
        }
    }
}