@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.login {
    @include flex-box(flex, column);

    &__container {
        background-color: $pale-green;
        padding: 1rem;
        order: 2;
    }

    &__header {
        color: $white;
        font-family: "Brittany Signature", sans-serif;
        font-size: 32px;
        text-align: center;
        margin: 0;
    }

    &__form {
        text-align: center;
        margin: 1.5rem 0;
    }

    &__label {
        color: $white;
        font-family: "Garet Book", sans-serif;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: .25rem;
    }

    &__input {
        width: 100%;
        font-family: "Garet Book", sans-serif;
        font-size: .8125rem;
        color: $forest-green;
        padding: 0.5rem 1rem;
        border-radius: 1.25rem;
        border: none;
        margin-bottom: 1rem;

        &::placeholder {
            font-family: "Garet Book", sans-serif;
            font-size: .8125rem;
        }
    }

    &__btn {
        width: 100%;
        background-color: $beige;
        font-family: "Garet Book", sans-serif;
        font-size: .8125rem;
        color: $global-text;
        border-radius: 1.25rem;
        border: 0;
        padding: 0.5rem 0;

        &:hover {
            background-color: $white;
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }
    }
    
    &__message {
        min-width: 100%;

        &-container {
            background-image: url("src/assets/images/login-page-img.jpg");
            background-size: cover;
            background-position: bottom;
            height: 100%;
            position: relative;
            padding: 1rem;
            order: 1;
            // box-sizing: border-box;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                z-index: 1;
                // box-sizing: border-box;
            }
        }

        &-box {
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            position: relative;
            padding: 1rem;
            z-index: 2;
            color: $white;
            text-align: center;
            // box-sizing: border-box;
        }

        &-header {
            font-family: "Brittany Signature", sans-serif;
            font-size: 48px;
            margin: 0;
        }

        &-text {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }
}

.register {
    &__text {
        color: $white;
        font-size: .8125rem;
        text-align: center;
        margin: 0;
    }
}