// import styling
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

a {
    color: $forest-green;

    &:hover {
        color: $light-grey;
        text-decoration: underline;
        transition: 0.3s ease-in-out;
    }
}

.login {
    &__container {
        @include flex-box(flex, column);
        background-color: $pale-green;
        padding: 1rem;
        order: 2;

        @include tablet {
            width: 50%;
            padding: 2rem;
            order: 2;
        }

        @include desktop {
            width: 50%;
            padding: 2rem;
            order: 2;
        }
    }

    &__wrapper {
        @include flex-box(flex, column);

        @include tablet {
            @include flex-box(flex, row);
        }

        @include desktop {
            @include flex-box(flex, row);
        }
    }

    &__header {
        @include m-page-header;
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;

        @include tablet {
            @include td-page-header;
            padding-bottom: 1rem;
        }

        @include desktop {
            @include td-page-header;
            padding-bottom: 1rem;
        }
    }

    &__form {
        text-align: center;
        margin: 1.5rem 0;
    }

    &__label {
        color: $white;
        font-family: "Garet Book", sans-serif;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: .25rem;
    }

    &__input {
        &-email, &-password {
            width: 100%;
            font-family: "Garet Book", sans-serif;
            font-size: .8125rem;
            color: $forest-green;
            padding: 0.5rem 3rem 0.5rem 1rem;
            border-radius: 1.25rem;
            border: .125rem solid transparent;
            margin-bottom: 1rem;

            @include tablet {
                font-size: .875rem;
            }

            @include desktop {
                font-size: .875rem;
            }
    
            &::placeholder {
                font-family: "Garet Book", sans-serif;
                font-size: .8125rem;

                @include tablet {
                    font-size: .875rem;
                }

                @include desktop {
                    font-size: .875rem;
                }
            }
    
            &:focus {
                border: .125rem solid $grey;
                outline: none;
            }
        }

        &-email {
            background-image: url("/src/assets/icons/login-email-icon.svg");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1.2rem;

            @include tablet {
                background-size: 1.5rem;
            }

            @include desktop {
                background-size: 1.5rem;
            }
        }

        &-password {
            background-image: url("src/assets/icons/login-password-icon.svg");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1.2rem;

            @include tablet {
                background-size: 1.5rem;
            }

            @include desktop {
                background-size: 1.5rem;
            }
        }
    }

    &__btn {
        width: 100%;
        background-color: $beige;
        font-family: "Garet Book", sans-serif;
        font-size: .8125rem;
        color: $global-text;
        border-radius: 1.25rem;
        border: 0;
        padding: 0.5rem 0;

        @include tablet {
            font-size: .875rem;
        }

        @include desktop {
            font-size: .875rem;
        }

        &:hover {
            background-color: $white;
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }
    }
    
    &__message {
        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 50%;
        }

        &-container {
            background-image: url("src/assets/images/login-page-img.jpg");
            background-size: cover;
            background-position: bottom;
            height: 100%;
            position: relative;
            padding: 1rem;
            order: 1;

            @include tablet {
                padding: 2rem;
                order: 1;
            }

            @include desktop {
                padding: 2.5rem;
                order: 1;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                z-index: 1;
            }
        }

        &-box {
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            position: relative;
            padding: 1rem;
            z-index: 2;
            color: $white;
            text-align: center;

            @include tablet {
                padding: 2rem;
            }

            @include desktop {
                padding: 2rem;
            }
        }

        &-header {
            @include m-sub-header($white);
            margin: 0;
    
            @include tablet {
                @include td-sub-header($white);
            }
    
            @include desktop {
                @include td-sub-header($white);
            }
        }

        &-text {
            @include m-body($white);
            margin-top: 1rem;
            margin-bottom: 0;

            @include tablet {
                @include td-body($white);
            }

            @include desktop { 
                @include td-body($white);
            }
        }
    }
}

.register {
    &__text {
        @include m-body($white);
        text-align: center;
        margin: 0;

        @include tablet {
            @include td-body($white);
        }

        @include desktop {
            @include td-body($white);
        }
    }
}