@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav-bar {
    font-size: .8125rem;
    padding: 0 1rem;

    @include tablet {
        font-size: .9375rem;
    }

    &__list {
        @include flex-box(flex, row);
        gap: 1rem;
        list-style-type: none;
        padding: 0;
    }

    &__link {
        color: $global-text;

        &:hover {
            color: $pale-green;
            transition: 0.3s ease-in-out;
        }
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    &:hover {
        display: block;
        transition: color 0.3s ease-in-out;

    }

    &__btn {
        @include btn(transparent, .8125rem, $global-text);
        border: none;
        padding: 0;
        margin-bottom: 0.5rem;

        @include tablet { 
            font-size: .9375rem;
        }

        &:hover {
            color: $pale-green;
            transition: 0.3s ease-in-out;
        }
    }
    &__content {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: $pale-green;
        font-size: .9375rem;
        min-width: 10px;
        padding: 0.5rem;
        box-shadow: 0 .5rem 1rem $sage-green;
        z-index: 1;
        top: 100%;
        left: -3rem;
        right: auto;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

        @include tablet {
            left: auto;
        }

        & a {
            color: $white;
        }
    }

    &:hover .dropdown__content {
        opacity: 1;
        visibility: visible;
    }

    &__list {
        @include flex-box(flex, column);
        gap: 0.5rem;
        list-style-type: none;
        padding: 0;
    }
}